@model PCVTry.Models.Applicationaccess

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Applicationaccess</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppId" />
            <div class="form-group">
                <label asp-for="VmsroleGroup" class="control-label"></label>
                <select asp-for="VmsroleGroup" class="form-control" asp-items="ViewBag.VmsroleGroup"></select>
                <span asp-validation-for="VmsroleGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddAccess" class="control-label"></label>
                <select asp-for="AddAccess" class="form-control" asp-items="ViewBag.AddAccess"></select>
                <span asp-validation-for="AddAccess" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otsaccess" class="control-label"></label>
                <select asp-for="Otsaccess" class="form-control" asp-items="ViewBag.Otsaccess"></select>
                <span asp-validation-for="Otsaccess" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BporoleGroup" class="control-label"></label>
                <select asp-for="BporoleGroup" class="form-control" asp-items="ViewBag.BporoleGroup"></select>
                <span asp-validation-for="BporoleGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LrvroleGroup" class="control-label"></label>
                <select asp-for="LrvroleGroup" class="form-control" asp-items="ViewBag.LrvroleGroup"></select>
                <span asp-validation-for="LrvroleGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mas500Access" class="control-label"></label>
                <input asp-for="Mas500Access" class="form-control" />
                <span asp-validation-for="Mas500Access" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
