@model PCVTry.Models.AddiAccess

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AddiAccess</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AddiAccessId" />
            <div class="form-group">
                <label asp-for="Pci" class="control-label"></label>
                <input asp-for="Pci" class="form-control" />
                <span asp-validation-for="Pci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fdic" class="control-label"></label>
                <input asp-for="Fdic" class="form-control" />
                <span asp-validation-for="Fdic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crm" class="control-label"></label>
                <input asp-for="Crm" class="form-control" />
                <span asp-validation-for="Crm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CopyOf" class="control-label"></label>
                <input asp-for="CopyOf" class="form-control" />
                <span asp-validation-for="CopyOf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
