
@{
    ViewData["Title"] = "Comments";
}

<h2>Special Instructions or Additonal Comments</h2>
<br />
<br />
<br />

<div class="container">
    <div class="row justify-content-center">

        <form class="form-horizontal" asp-action="/User/Create" method="post">
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <label class="col-4" for="pwd">***MUST HAVE:</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-4" for="pwd">&nbsp;a.&nbsp; Any equipment requests include a personal phone # for asset sign out sheet</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-4" for="pwd">&nbsp;b.&nbsp; Shipped equipment needs a delivery address, email address and phone #.</label>
                        </td>
                    </tr>
                </table>
                <br />
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="comment" placeholder="Enter your comment" />
                </div>

            </div>
        </form>
        <p> *Once submitted, user may not return to previous pages*</p>
        <a href="/User/reviewerinfo">Previous</a> &emsp;
        <a href="/User/post">Submit</a>


    </div>
</div>

