@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model PCVMurcorWebApp.Models.UserInfo
@{
    ViewData["Title"] = "create";
    Layout = "_Layout";
}

<!DOCTYPE html>
 
<html>
 
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <style>
          body {
              font-family: "Lato", sans-serif;

        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #1B295B;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 15px;
                color: #f1f1f1;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #818181;
                }

               .sidenav .closebtn {
                  position: absolute;
                  top: 0;
                  right: 25px;
                  font-size: 25px;
                  margin-left: 50px;

            }

           media screen and (max-height: 450px) {
              .sidenav  

        {
              padding-top: 10px;

        }

           .sidenav a {
              font-size: 10px;

        }


        }

    </style> 
</head> 
<body>
    <div id="mySidenav" class="sidenav">         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>         <a href="/User/create">Create</a>         <a href="/User/userinformation">User Information</a>         <a href="/User/requirements">Requirements</a>         <a href="/User/applicationaccess">Application Access</a>         <a href="/User/reviewerinfo">Reviewer Information</a>     </div>         <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>  
    <script>function openNav() {             document.getElementById("mySidenav").style.width = "250px";         }          function closeNav() {             document.getElementById("mySidenav").style.width = "0";         }</script> <br>
</body> 
</html>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">

            <form class="form-horizontal" asp-action="UserInfo" asp-controller="User" method="post">

                <div class="form-group">
                    <label class="control-label col-sm-2" asp-for="RequestType">Request Type</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="reqTyoe" asp-for="RequestType" placeholder="---Select Request Type---">
                            <option>New</option>
                            <option>Change</option>
                            <option>LOA(LEAVE)</option>
                            <option>LOA(RETURN)</option>
                            <option>Remove</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" asp-for="RequestBy">Request By</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="RequestBy" id="reqBy" placeholder="Requested By..." />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" asp-for="StartDate">Start Date</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" asp-for="StartDate" id="startDate" placeholder="MM/DD/YYYY" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" asp-for="EndDate">End Date</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" asp-for="EndDate" id="endDate" placeholder="MM/DD/YYYY" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
            <a href="/User/userinformation">Next</a>
        </div>
    </div>
</div>



