
@{
    ViewData["Title"] = "Post";
}

<h2>Post</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="form-group">
                <label class="control-label col-sm-2" for="Name">Name:</label>
                <div class="col-sm-10">
                    <p>null</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Job Title</label>
                <div class="col-sm-10">
                    <p>null</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Department</label>
                <div class="col-sm-10">
                    <p>null</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Office</label>
                <div class="col-sm-10">
                    <p>null</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Manager's Name</label>
                <div class="col-sm-10">
                    <p>null</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Is he/she a manager?</label>
                <div class="col-sm-10">
                    <p>null</p>
                </div>
            </div>

            
            <form class="form-horizontal" asp-action="Requirements" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" >Request Type</label>
                    <div class="col-sm-10">
                        <p>null</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" >Request By</label>
                    <div class="col-sm-10">
                        <p>null</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Start Date</label>
                    <div class="col-sm-10">
                        <p>null</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" >End Date</label>
                    <div class="col-sm-10">
                        <p>null</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" >Floor and Cube Number</label>
                    <div class="col-sm-10">
                        <p>Null</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Move to</label>
                    <div class="col-sm-10">
                        <p>Null</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="DidNum">DID Number</label>
                    <div class="col-sm-10">
                        <p>Null</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="DualMon">Dual Monitor</label>
                    <div class="col-sm-10">
                        <p>Null</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="RemoAcc">Remote Access</label>
                    <div class="col-sm-10">
                        <p>Null</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="RemoLap">Mgr/Remote Laptop</label>
                    <div class="col-sm-10">
                        <p>Null</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Mobile">Mobile Phone</label>
                    <div class="col-sm-10">
                        <p>Null</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="CopyProfile">Copy Profile for Citrix &Aacute; Security Access</label>
                    <div class="col-sm-10">
                        <p>Null</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="UserStatusChange">Change Status to</label>
                    <div class="col-sm-10">
                        <p>Null</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="UserNameChange">Change Username to</label>
                    <div class="col-sm-10">
                        <p>Null</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="LOA">For REMOVE USER REQUEST OR LOA Forward Emails to</label>
                    <div class="col-sm-10">
                        <p>Null</p>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

