@model PCVMurcorWebApp.Models.UserRequirements
@{
    ViewData["Title"] = "Requirements";
}
<!DOCTYPE html>


<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #1B295B;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 15px;
                color: #f1f1f1;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #818181;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 25px;
                margin-left: 50px;
            }

        media screen and (max-height: 450px) {
            .sidenav



        {
            padding-top: 10px;
        }

        .sidenav a {
            font-size: 10px;
        }
        }
    </style>

</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/User/create">Create</a>
        <a href="/User/userinformation">User Information</a>
        <a href="/User/requirements">Requirements</a>
        <a href="/User/applicationaccess">Application Access</a>
        <a href="/User/reviewerinfo">Reviewer Information</a>
    </div>




    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>


    <script>function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }</script> <br>
</body>

</html>
<h2>Requirements</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">

            <form class="form-horizontal" asp-action="/User/Create" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Floor and Cube Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="floorNum" placeholder="Floor Number" /><br />
                        <input type="text" class="form-control" id="cubeNum" placeholder="Cube Number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Move to</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="floorNum" placeholder="Floor Number" /><br />
                        <input type="text" class="form-control" id="cubeNum" placeholder="Cube Number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">DID Number</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio">No</label>
                        <label class="radio-inline"><input type="radio" name="optradio">NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Dual Monitor</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio">No</label>
                        <label class="radio-inline"><input type="radio" name="optradio">NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Remote Access</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio">No</label>
                        <label class="radio-inline"><input type="radio" name="optradio">NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Mgr/Remote Laptop</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio">No</label>
                        <label class="radio-inline"><input type="radio" name="optradio">NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Mobile Phone</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio">No</label>
                        <label class="radio-inline"><input type="radio" name="optradio">NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Copy Profile for Citrix and Security Access</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="secAccess" placeholder="Security Access" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Change Status to</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio" />Permanent</label>
                        <label class="radio-inline"><input type="radio" name="optradio" />Temporary</label>
                        <label class="radio-inline"><input type="radio" name="optradio" />Contractor</label>
                        <label class="radio-inline"><input type="radio" name="optradio" />NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Change Username to</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="changeUserName" placeholder="Change Username to" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">For REMOVE USER REQUEST OR LOA Forward Emails to</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="fwdEmail" placeholder="Forward Emails to" />
                    </div>
                </div>
            </form>
            <a href="/User/userinformation">Previous</a> &emsp;
            <a href="/User/applicationaccess">Next</a>

        </div>
    </div>
</div>

