@model PCVMurcorWebApp.Models.UserRequirements
@{
    ViewData["Title"] = "Requirements";
}

<h2>Requirements</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">

            <form class="form-horizontal" asp-action="Requirements" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" asp-for="FloorNum">Floor and Cube Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="floorNum" asp-for="FloorNum" placeholder="Floor Number" />
                        <input type="text" class="form-control" id="floorNum" asp-for="CubeNum" placeholder="Cube Number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" asp-for="NewCubeNum">Move to</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cubeNum" asp-for="NewFloorNum" placeholder="Floor Number" />
                        <input type="text" class="form-control" id="cubeNum" asp-for="CubeNum" placeholder="Cube Number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" asp-for="DidNum">DID Number</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="DidNum">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio" value="1" asp-for="DidNum">No</label>
                        <label class="radio-inline"><input type="radio" name="optradio" value="null" asp-for="DidNum">NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" asp-for="DualMon">Dual Monitor</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="DualMon">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="DualMon">No</label>
                        <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="DualMon">NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" asp-for="RemoAcc">Remote Access</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="RemoAcc">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="RemoAcc">No</label>
                        <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="RemoAcc">NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" asp-for="RemoLap">Mgr/Remote Laptop</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="RemoLap">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="RemoLap">No</label>
                        <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="RemoLap">NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" asp-for="Mobile">Mobile Phone</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="Mobile">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="Mobile">No</label>
                        <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="Mobile">NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" asp-for="CopyProfile">Copy Profile for Citrix &Aacute; Security Access</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="secAccess" asp-for="CopyProfile" placeholder="Security Access" />
                    </div>
                </div>
                <div class="form-group">
                     <label class="control-label col-sm-2" asp-for="UserStatusChange">Change Status to</label>
                     <div class="col-sm-10">
                         <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="UserStatusChange" />Permanent</label>
                         <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="UserStatusChange" />Temporary</label>
                         <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="UserStatusChange" />Contractor</label>
                         <label class="radio-inline"><input type="radio" name="optradio" value="0" asp-for="UserStatusChange" />NA</label>
                     </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" asp-for="UserNameChange">Change Username to</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="changeUserName" asp-for="UserNameChange" placeholder="Change Username to" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" asp-for="LOA">For REMOVE USER REQUEST OR LOA Forward Emails to</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="fwdEmail" asp-for="LOA" placeholder="Forward Emails to" />
                    </div>
                </div>
            </form>
            <a href="/User/post">Submit</a>

        </div>
    </div>
</div>

