
@{
    ViewData["Title"] = "Requirements";
}

<h2>Requirements</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">

            <form class="form-horizontal" asp-action="/User/Create" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Floor and Cube Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="floorNum" placeholder="Floor Number" />
                        <input type="text" class="form-control" id="floorNum" placeholder="Cube Number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Move to</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cubeNum" placeholder="Floor Number" />
                        <input type="text" class="form-control" id="cubeNum" placeholder="Cube Number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">DID Number</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio">No</label>
                        <label class="radio-inline"><input type="radio" name="optradio">NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Dual Monitor</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio">No</label>
                        <label class="radio-inline"><input type="radio" name="optradio">NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Remote Access</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio">No</label>
                        <label class="radio-inline"><input type="radio" name="optradio">NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Mgr/Remote Laptop</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio">No</label>
                        <label class="radio-inline"><input type="radio" name="optradio">NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Mobile Phone</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio">No</label>
                        <label class="radio-inline"><input type="radio" name="optradio">NA</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Copy Profile for Citrix &Aacute; Security Access</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="secAccess" placeholder="Security Access" />
                    </div>
                </div>
                <div class="form-group">
                     <label class="control-label col-sm-2" for="pwd">Change Status to</label>
                     <div class="col-sm-10">
                         <label class="radio-inline"><input type="radio" name="optradio" />Permanent</label>
                         <label class="radio-inline"><input type="radio" name="optradio" />Temporary</label>
                         <label class="radio-inline"><input type="radio" name="optradio" />Contractor</label>
                         <label class="radio-inline"><input type="radio" name="optradio" />NA</label>
                     </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Change Username to</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="changeUserName" placeholder="Change Username to" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">For REMOVE USER REQUEST OR LOA Forward Emails to</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="fwdEmail" placeholder="Forward Emails to" />
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

