
@{
    ViewData["Title"] = "ReviewerInfo";
}

<!DOCTYPE html>


<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #1B295B;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 15px;
                color: #f1f1f1;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #818181;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 25px;
                margin-left: 50px;
            }

        media screen and (max-height: 450px) {
            .sidenav



        {
            padding-top: 10px;
        }

        .sidenav a {
            font-size: 10px;
        }
        }
    </style>

</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/User/create">Create</a>
        <a href="/User/userinformation">User Information</a>
        <a href="/User/requirements">Requirements</a>
        <a href="/User/applicationaccess">Application Access</a>
        <a href="/User/reviewerinfo">Reviewer Information</a>
    </div>




    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>


    <script>function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }</script> <br>
</body>

</html>
<h2>Reviewer Information (If Applicable)</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">

            <form class="form-horizontal" asp-action="/User/Create" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">License Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="licNum" placeholder="Enter License Number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">State</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="state" placeholder="Enter State" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">State</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="state" placeholder="Enter State" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">License Expiration Date</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="licExp" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">License Type</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="licTyp" placeholder="Enter License Type" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Reviewer Level</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="selLev" placeholder="---Select Level---">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </div>
                </div>
            </form>
            <a href="/User/applicationaccess">Previous</a> &emsp;
            <a href="/User/comments">Next</a>
        </div>
    </div>
</div>
