@model PCVMurcorWebApp.Models.Create
@{
    ViewData["Title"] = "UserInformation";
    Layout = "_Layout";
}

<!DOCTYPE html>


<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #1B295B;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 15px;
                color: #f1f1f1;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #818181;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 25px;
                margin-left: 50px;
            }

        media screen and (max-height: 450px) {
            .sidenav



        {
            padding-top: 10px;
        }

        .sidenav a {
            font-size: 10px;
        }
        }
    </style>

</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/User/create">Create</a>
        <a href="/User/userinformation">User Information</a>
        <a href="/User/requirements">Requirements</a>
        <a href="/User/applicationaccess">Application Access</a>
        <a href="/User/reviewerinfo">Reviewer Information</a>
    </div>




    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>


    <script>function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }</script> <br>
</body>

</html>
<h2>User Information</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">

            <form class="form-horizontal" asp-action="/User/UserInformation" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Name">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="email" placeholder="Full Name with MI">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Job Title</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="selJob" placeholder="---Select Job Title---">
                            <option>Account Manager I</option>
                            <option>Account Manager II</option>
                            <option>Accounts Payable Clerk</option>
                            <option>Accounts Payable Specialist</option>
                            <option>Accounts Receivable Specialist</option>
                            <option>Administrative Svs Manager</option>
                            <option>Assigner I</option>
                            <option>Bus Development Account Executive</option>
                            <option>Chief Executive Officer</option>
                            <option>Chief Information Officer</option>
                            <option>Chief Operating Officer</option>
                            <option>Client Manager I</option>
                            <option>Client Manager II</option>
                            <option>Client Manager III</option>
                            <option>Client Services Support</option>
                            <option>Corporate Affairs Counsel</option>
                            <option>DBA/ Reporting Analyst</option>
                            <option>Developer</option>
                            <option>Director of Legal Compliance/License</option>
                            <option>Director of Operation Compliance</option>
                            <option>Director of Quality Control Escalations</option>
                            <option>Executive Vice President</option>
                            <option>Human Resources Generalist</option>
                            <option>Manager of Valuations QC</option>
                            <option>Marketing Assistant PT</option>
                            <option>Marketing Manager</option>
                            <option>Network Engineer</option>
                            <option>Onsite Client Liaison</option>
                            <option>Operations Manager</option>
                            <option>Production Associate I</option>
                            <option>Production Associate II</option>
                            <option>Project Manager</option>
                            <option>QC Analyst III</option>
                            <option>QC Analyst IV</option>
                            <option>QC Escalation Analyst III</option>
                            <option>QC Escalations Analyst IV</option>
                            <option>Quality Analyst - Assignment</option>
                            <option>Quality Analyst - Client Services</option>
                            <option>Quality Analyst - Status</option>
                            <option>Quality Manager</option>
                            <option>Receptionist</option>
                            <option>Regulatory Comp Analyst</option>
                            <option>Relationship Manager</option>
                            <option>Senior Accountant</option>
                            <option>Senior Developer</option>
                            <option>Senior Manager of Client Relation</option>
                            <option>Senior QC Data Analyst</option>
                            <option>SQL DBA</option>
                            <option>Status I</option>
                            <option>Systems Engineer</option>
                            <option>Systems Engineer Manager</option>
                            <option>Systems Support Analyst</option>
                            <option>Team Lead - QC</option>
                            <option>Team Lead I</option>
                            <option>Team Lead II</option>
                            <option>V.P. of Controller</option>
                            <option>V.P. of General Accounting</option>
                            <option>V.P. of General Counsel</option>
                            <option>V.P. of Human Resources</option>
                            <option>Vendor Manager</option>
                            <option>Vendor Support Assistant</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Department</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="selDept" placeholder="---Select Department---">
                            <option>Accounting</option>
                            <option>Administration</option>
                            <option>Client Services</option>
                            <option>Client Services - Broker Biz</option>
                            <option>Client Services - Platinum</option>
                            <option>Client Services - Wells Fargo</option>
                            <option>Executive</option>
                            <option>Human Resources</option>
                            <option>Information Technology</option>
                            <option>Legal</option>
                            <option>Marketing</option>
                            <option>On Site</option>
                            <option>Operations</option>
                            <option>Quality Control</option>
                            <option>Quality Control - Escalations/Tags</option>
                            <option>Sales</option>
                            <option>Vendor Relations</option>
                            <option>Vendor Relations - Assignment</option>
                            <option>Vendor Relations - Status</option>
                            <option>Vendor Relations - Vendor Management</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Office</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="selOffice" placeholder="---Select Office---">
                            <option>California</option>
                            <option>Florida</option>
                            <option>Missouri</option>
                            <option>New York</option>
                            <option>Ohio</option>
                            <option>Remote</option>
                            <option>Texas</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Manager's Name</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="selMng" placeholder="---Select Manager---">
                            <option>Ayonna Campbell</option>
                            <option>Candy Sirirotpiboon</option>
                            <option>Chris Watson</option>
                            <option>Christie Ramirez</option>
                            <option>Cindy Nasser</option>
                            <option>Deborah Eppelheimer</option>
                            <option>Dora Sandoval</option>
                            <option>Felipe Fregoso</option>
                            <option>Gary Marsh</option>
                            <option>Gloria Clement</option>
                            <option>Helen Harson</option>
                            <option>Ivette Sanchez</option>
                            <option>Jeff Del Rey</option>
                            <option>Jennifer Marroquin</option>
                            <option>Joseph Petty</option>
                            <option>Keith Murray</option>
                            <option>Megan Cote</option>
                            <option>Michael Baz</option>
                            <option>Ron Ihde</option>
                            <option>Russell Lewis</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Is he/she a manager?</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio">No</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Next</button>
                    </div>
                </div>
            </form>
            <a href="/User/create">Previous</a> &emsp;
            <a href="/User/requirements">Next</a>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>



